use crm2
exec SPGENERATE_CUSTOMER

select count(*) from customers

-------------------------------

USE [CRM2]
GO

SET ANSI_PADDING ON
GO

/****** Object:  Index [IX1]    Script Date: 3.11.2022 18:54:48 ******/
CREATE NONCLUSTERED INDEX [IX1] ON [dbo].[CUSTOMERS]
(
	[NAMESURNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 50, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

------------------------------------
USE [CRM2]
GO

SET ANSI_PADDING ON
GO

/****** Object:  Index [IX2]    Script Date: 3.11.2022 18:55:11 ******/
CREATE NONCLUSTERED INDEX [IX2] ON [dbo].[CUSTOMERS]
(
	[TELNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

---------------------------
USE [CRM2]
GO

/****** Object:  Index [IX3]    Script Date: 3.11.2022 18:55:29 ******/
CREATE NONCLUSTERED INDEX [IX3] ON [dbo].[CUSTOMERS]
(
	[BIRTHDATE] ASC
)
INCLUDE([NAMESURNAME],[GENDER],[CITY],[TOWN],[TELNR],[NAME_],[SURNAME],[TCNO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

---------------------------
USE [CRM2]
GO

SET ANSI_PADDING ON
GO

/****** Object:  Index [IX4]    Script Date: 3.11.2022 18:55:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX4] ON [dbo].[CUSTOMERS]
(
	[TCNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

-------------------------------
USE [CRM2]
GO

/****** Object:  Index [PK_CUSTOMERS]    Script Date: 3.11.2022 18:56:03 ******/
ALTER TABLE [dbo].[CUSTOMERS] ADD  CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO



